.slide-right-enter-active,
.slide-right-leave-active {
    transition: transform 0.5s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
    transform: translateX(100%);
}

.slide-right-enter-to,
.slide-right-leave-from {
    transform: translateX(0);
}
