@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply select-none;
    }

    input {
        @apply bg-gray-800 text-white placeholder-gray-400 rounded-full px-4 py-2 
            focus:outline-none focus:ring-2 focus:ring-indigo-600 transition;
    }

    button[type="submit"] {
        @apply bg-indigo-600 hover:bg-indigo-500 text-white px-4 py-2 rounded-full shadow-md transition;
    }
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #111827;
}

::-webkit-scrollbar-thumb
{
	background-color: white;
	border-radius: 10px;
}